 /* 导航模块 */
 .wrap .top{
    width: 1200px;
    margin: 0 auto;
}
.wrap .top a{
    font-size: 18px;
    color: #3c3d46;
    line-height: 72px;
}
.wrap .logo{
    line-height: 72px;
}
.wrap .logo img{
    vertical-align: middle;
}
.wrap .nav{
    margin-left: 159px;
}
.wrap .top li{
    float: left;
    width: 80px;
    height: 72px;
    text-align: center;
    margin-right: 25px;
}
.wrap .top .active{
    background-color: #5696ff;
}
.wrap  .top .active a{
   color: #fefeff;
}
.wrap .top li:hover{
    background-color: #5696ff;
}
.wrap .top  li:hover a{
   color: #fefeff;
}
.wrap .login_reg .line{
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #999999;
    margin: 0 10px;
}
.nav_box .bootm{
    background-color: #666666;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    height: 60px;
    box-sizing: border-box;
}
/* 导航底部 */
.nav_box .bootm ul{
    width: 1200px;
    margin: 0 auto;
}
.nav_box .bootm li{
    float: left;
    width: 103px;
    text-align: center;
    line-height: 60px;
}
.nav_box .bootm li:nth-child(n+2){
    float: right;
}
.nav_box .bootm .bootm_fl_line,.nav_box .bootm_fr_line{
    width: 1px;
    height: 20px;
    background-color: #f3f1f1;
    margin-top: 19px;
}
.nav_box .bootm img{
    vertical-align: text-top;
}
/* banner */
.banner{
    margin-top: 55px;
    width: 1200px;
    height: 350px;
    background: url(../images/t_banner.jpg);
}
.fl_ticket{
    width: 270px;
    height: 80px;
    background-color: #5696ff;
    margin-top: 234px;
}
.fl_ticket p:nth-child(1){
    width: 164px;
    font-size: 45px;
    line-height: 80px;
    letter-spacing: 8px;
    margin-left: 24px;
    color: #ffffff;
}
.fl_ticket p:nth-child(2){
    width: 72px;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 23px;
}
.fr_ticket{
    width: 202px;
}
.fr_ticket p:nth-child(1){
    font-size: 33px;
    letter-spacing: 5px;
    color: #ffffff;
    text-align: center;
    margin-top: 27px;

}
.fr_ticket p:nth-child(2){
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    margin-top: 7px;
    letter-spacing: 2px;
}
.bar_code{
    text-align: center;
    margin-top: 33px;
}
.fr_ticket .depart{
    width: 140px;
    height: 30px;
    border-radius: 4px;
    background-color: #f3f3f3;
    text-align: center;
    margin: 0 auto;
    margin-top: 38px;
}
.depart span{
    line-height: 30px;
}
.depart span:nth-child(1){
    font-size: 14px;
    color: #333333;
}
.depart span:nth-child(2){
    font-size: 12px;
    color: #333333;
    padding-left: 8px;
}
.fr_ticket .arrow{
    text-align: center;
    margin: 16px 0;
}
.fr_ticket .search{
    width: 140px;
    height: 32px;
    border-radius: 4px;
    background-color: #5696ff;
    margin: 0 auto;
    overflow: hidden;
}
.fr_ticket input{
    width: 110px;
    height: 32px;
    outline: none;
    border: none;
    text-indent: 0.5rem;
}
.fr_ticket .search img{
   margin: 7px 7px;
}
/* 内容模块左边 */
.main{
    margin-top: 60px;
}
.main .fl_info{
    width: 509px;
    margin-left: 28px;
}
.main .fl_info p:nth-child(1){
    margin-top: -6px;
}
.main .fl_info p:nth-child(1) a{
    font-size: 14px;
    color: #5696ff;
    text-decoration:underline;
}
.main .fl_info p:nth-child(2){
    font-size: 22px;
    line-height: 30px;
    color: #333333;
    margin-top: 12px;
}
.main .fl_info p:nth-child(3){
    font-size: 16px;
    color: #666666;
    margin-top: 13px;
    margin-bottom: 4px;
}
.main .rmb_box p:nth-child(1){
    font-size: 36px;
    font-weight: bold;
    color: #eb4c4d;
    margin-top: 9px;
}
.main .rmb_box p:nth-child(2){
    font-size: 18px;
    color: #eb4c4d;
    margin-top: 24px;
}
.btn{
    width: 140px;
    height: 50px;
    border: 1px solid #5696ff;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: #5696ff;
}
.tourism:nth-child(n+2){
    margin-top: 96px;
}
  /* 页码 */
.number{margin-top: 78px;}
.number li{
    float: left;
    margin-left: 47px;
    line-height: 59px;
    
}
.number li:nth-child(2){
    margin-left: 22px;
}
.number li:first-child,.number li:last-child{
    width: 198px;
    height: 59px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    color: #333333;
    font-size: 18px;
    line-height: 59px;
    text-align: center;
    margin-left: 0;
}
.number li:last-child{
    margin-left: 22px;
}
.number .active{
    color: #5696ff;
}
 /* 内容模块右边 */
 /* 5696ff */
 .fr_reservation .selling{
     width: 279px;
     height: 48px;
     border: 1px solid #5696ff;
     box-sizing: border-box;
     font-size: 16px;
     color: #282828;
     line-height: 48px;
     text-align: center;
 }
 .fr_reservation .selling_img{
     margin-top: 34px;
 }
 .fr_reservation .selling_img .fr_text_box{
     width: 170px;
     font-size: 13px;
     color: #333333;
 }
 .selling_img .fr_text{
     margin-top: -3px;
 }
 .selling_img .fr_text_box .fr_rmb{
     margin-top: 23px;
     font-size: 14px;
     color: #eb4c4d;
 }
 .fr_selling_line{
     height: 1px;
     background-color: #e3e3e3;
     margin-top: 16px;
     margin-bottom: 18px;
 }
 /* 底部 */
.floot{
   background-color: #5696ff;
   margin-top: 66px;
}
.floot p{
   width: 654px;
   font-size: 16px;
   color: #fafafc;
   line-height: 35px;
   padding: 30px 0;
   margin: 0 auto;
   text-align: left;
}